body {
    background-color: #fbeec1;
    font-family: Lato, Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav#menu{
    background-color: #659dbd;      
}

na#menu {
    display: inline;
}
