body {
    background-color: rgb(245, 253, 253);
}
main{
    max-width: 1000px;
    background-color: white;
    margin: 0px auto auto auto;
    padding: 15px;
    height: 100%;
}

p, a, input, button, div {
    font-family: Lato, Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    line-height: 1.6em;
    max-width: 1000px;
    margin: auto auto 10px auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Alegreya, Volkorn;
    font-size: 2.0em;
    font-weight: bold;
    max-width: 1000px;
    margin: 35px auto 15px auto;    
}

.top-menu {
    display: block;
    max-width: 1000px;
    margin: auto auto 25px auto;
}

.top-menu ul {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    background-color: black;    
}
.top-menu li{
    display: inline;    
}

.top-menu li>a {
    font-size: 20px;
    line-height: 2.5em;
    font-family: Lato, Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    padding: 25px;
    color: aqua;
}

.top-menu a:hover{
    color: white;
}

.top-menu li>a.active-menu{
    color: white;
}

.home-picture {
    margin: -25px 0px auto 0px;
}

.home-picture>img{
    width: 1000px;
}

.card-grid-container{
    display: grid;
    width: 1000px;
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
    row-gap: 10px;
}

.card-grid-container img{
    width:325px;
    height: 300px;
    object-fit: cover; 
    box-shadow: 0px 5px rgb(187, 187, 187);
}

  
.image-container {
    position: relative;
    width: 100%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .image-caption-container {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;    
  }
  .image-container:hover .image {
      opacity: 0.2;
  }

  .image-container:hover .image-caption-container {
    opacity: 1;
  }
  
  .image-caption {
    color: black;
    font-size: 18px;
    position: absolute;
    top: -40%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
  }

  .default-hide {
      display:none;
  }

  .my-name {
      width: 400px;
    margin: 25px auto 25px auto;    
  }


  #work-companies>h2, #work-school>h2{
      font-size: 1.5em;
  }

  #work-summary {
    padding-bottom: 20px;    
  }

  .subhead {
      font-size: 22px;      
      font-family: Lato, Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .work-card-container{
      display: grid;
      grid-template-columns: 5% 95%;
  }

  .work-card-container .company-logo-small {
    height:100%;     
  }

  .work-card-container .work-company-responsibilities {
      height: 100%;
      margin-left: 15px;
      vertical-align: text-top;
      padding-top: 0px;
      margin-top:-25px;
  }

  #work-companies{
      margin-bottom: 45px;
  }

  figcaption{
      font-size: smaller;
  }

  div#articles > div > article {
      margin-bottom: 60px;
  }

  div#articles .blockcode{
      border: 2px solid lightgray;
      padding: 15px;
      background-color: beige;
  }

  #stock-input{
      background-color: cornflowerblue;
      margin-top: -25px;
      height: 200px;
  }

  #stock-input input {
      border: none;
      height: 40px;
      margin-right: -10px;
      margin-top: 25px;
      margin-left: 10px;
      width: 400px;
  }

  #stock-input input::placeholder {
    font-size: 18px;
    margin-left: 5px;
    padding-left: 10px;
  }

  #stock-input button{
      height: 40px;
      background-color:rgb(36, 36, 36);
      border:none;
      color: white;
      
  }